@use '@/styles/_variables.scss' as *;

@mixin flex($direction, $mainOrientation: normal, $crossOrientation: normal) {
  display: flex;
  flex-direction: $direction;
  justify-content: $mainOrientation;
  align-items: $crossOrientation;
}

@mixin font-style($size, $weight, $alpha: 1, $color: $color-text) {
  font-size: $size;
  font-weight: $weight;
  color: rgba($color: $color, $alpha: $alpha);
}

@mixin shadow-centered($spread, $alpha: 1, $color: #000000) {
  -webkit-box-shadow: 0px 0px $spread 0px rgba($color: $color, $alpha: $alpha);
  box-shadow: 0px 0px $spread 0px rgba($color: $color, $alpha: $alpha);
}

@mixin shadow-inset(
  $xOffset: 0px,
  $yOffset: 0px,
  $spread: 0px,
  $alpha: 1,
  $color: #000000
) {
  -webkit-box-shadow: inset $xOffset $yOffset $spread 0px
    rgba($color: $color, $alpha: $alpha);
  box-shadow: inset $xOffset $yOffset $spread 0px
    rgba($color: $color, $alpha: $alpha);
}

@mixin margin-x($size) {
  margin-left: $size;
  margin-right: $size;
}

@mixin margin-y($size) {
  margin-top: $size;
  margin-bottom: $size;
}

@mixin padding-x($size) {
  padding-left: $size;
  padding-right: $size;
}

@mixin padding-y($size) {
  padding-top: $size;
  padding-bottom: $size;
}

@mixin no-outline {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
