$color-text: #707070;
$color-danger: #e63946;
$color-lighter: #f1faee;
$color-light: #a8dadc;
$color-medium: #457b9d;
$color-dark: #1d3557;
$color-white: #ffffff;
$color-green: #4ad295;
$color-border: #eaeaea;

$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;

$font-raleway: 'Raleway', Helvetica, Arial, sans-serif;
$font-lato: 'Lato', Helvetica, Arial, sans-serif;
$font-raj: 'Rajdhani', Helvetica, Arial, sans-serif;
